*{
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#logo, #networks a{
    text-decoration: none;
    
}

img, a{
    display: inline;
}

#up, #center{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

#down{
    display: flex;
	flex-wrap: wrap;
    justify-content: space-evenly;
    
}

#menu{
    display: flex;
    flex-wrap: wrap;
    background: #82e769;
    border: solid black;
    padding: 15px 15px;
}

#menu, #down, #center{
    align-items: center;
}

#contact{
    display: flex;
}

#up, #center, #down{
    margin: 20px;
}
#about{
    background: #9d9ef0;
    border: solid black;
    padding: 15px 15px;
}
#briefcase{
    background: #9d9ef0;
    border: solid black;
    padding: 15px 15px;
}
#logo{
    background: #2f62c0;
    border: solid black;
    padding: 15px 15px;
}
#center{
    display: flex;
    flex-wrap: wrap;
    background: #e4c570;
    border: solid black;
    padding: 15px 15px;
}
#up{
    display: flex;
    flex-wrap: wrap;
    background: #e4c570;
    border: solid black;
    padding: 15px 15px;
}
#contact1{
    display: flex;
    flex-wrap: wrap;
    background: #f0dca5;
    border: solid black;
    padding: 15px 15px;
}
#down{
    display: flex;
    flex-wrap: wrap;
    background: #e4c570;
    border: solid black;
    padding: 15px 15px;
}
#column.img.right{
    float:right;
}